<%= render 'users/user_profile', user: @user %>


<div class="text-center border-bottom mb-3">
  <h3><%= @user.name %>さんの投稿</h3>
</div>

<div class="row justify-content">
  <%= render 'layouts/posts', posts: @post, count_likes: @count_likes %>
</div>


