<div class="row">
  <% selfposts.each do |post| %>
  <div class="col-sm-4 text-center">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="post-title bg-light"><%= post.title.truncate(25) %></h5>
        <p class="post_content"><%= post.content.truncate(50) %></p>
      </div>
    </div>
  </div>  
  <% end %>
</div>