@charset "UTF-8";



.top-title {
  margin-top: 100px;
  margin-bottom: 5px;
}

.sub-title {
  margin-bottom: 100px;
}


.d-title {
  margin-top: 100px;
    
}

.description {
  margin-bottom: 60px;
}

.description p {
  margin: 0px;
  padding-top: 5px;
}

.user-card {
  padding-top: 50px;
}

.spec {
  padding-top: 20px;
}


.fehler {
  border: 100px;
  font-size: 100px;
}

.sub_fehler {
  border: 100px;
  font-size: 30px;
}

.post_body {
  font-size: 15px;
}

.card-header {
  height: 100px;
}

footer {
  background-color: #0000cd;
  text-align: center;
}

footer small {
  display: block;
  padding: 8px 0;
  color: #fff;
}

.card-body-1 {
  height: 200px;
}

